name: Controlled Release

on:
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a simple script
        run: echo "Pull request detected! Running workflow..."
